<?php

use Inetis\GooglePhotos\PicasaWebData\OctoberCms\SettingsProvider;

$settingsProvider = new SettingsProvider();
$isAuthenticated  = $settingsProvider->hasValidToken();

?>
<div id="googlePhotosOAuthButton">
    <label>GooglePhotos Authentication</label>

    <div>
    <?php if ($isAuthenticated): ?>
        <button class="btn btn-danger" data-request="<?= $this->getEventHandler('onLogout') ?>" data-request-confirm="Are you sure you want to revoke your authorization token?">
            Sign out
        </button>
    <?php else: ?>
        <a class="btn btn-primary" href="<?= $settingsProvider->buildAuthUrl(csrf_token()) ?>">
            Sign in
        </a>
    <?php endif; ?>
    </div>
</div>
