<?php

use Inetis\GooglePhotos\PicasaWebData\OctoberCms\SettingsProvider;

$settingsProvider = new SettingsProvider();
$isAuthenticated  = $settingsProvider->hasValidToken();

?>
<div id="googlePhotosOAuthButton">
    <label><?= Lang::get('inetis.googlephotos::lang.settings.fields.oAuthLabel') ?></label>

    <div>
    <?php if ($isAuthenticated): ?>
        <button class="btn btn-danger" data-request="<?= $this->getEventHandler('onLogout') ?>" data-request-confirm="<?= Lang::get('inetis.googlephotos::lang.settings.fields.signOutConfirm') ?>">
            <?= Lang::get('inetis.googlephotos::lang.settings.fields.oAuthSignOut') ?>
        </button>
    <?php else: ?>
        <a class="btn btn-primary" href="<?= $settingsProvider->buildAuthUrl(csrf_token()) ?>">
            <?= Lang::get('inetis.googlephotos::lang.settings.fields.oAuthSignIn') ?>
        </a>
    <?php endif; ?>
    </div>
</div>
