<h3>{{ __SELF__.albumTitle }}</h3>

<div class="row">
{% for item in __SELF__.images %}
    <a class="col-lg-3 col-md-4 col-xs-6 thumb" href="{{ item.photoUrl }}" data-media-type="{{ item.type }}" data-toggle="modal" data-remote="false" data-target="#inetisPicasaImageModal">
        <div>
            <img class="img-responsive" src="{{ item.thumbUrl }}" alt="" />
            {{ item.photoTitle }}
        </div>
    </a>
{% endfor %}
</div>

<div class="control-popup modal fade" id="inetisPicasaImageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        function getModalBody(link)
        {
            switch (link.attr('data-media-type'))
            {
                case 'photo':
                    return '<img class="img-responsive" src="'+ link.attr('href') +'" alt="" />';

                case 'video':
                    return '\
                        <video width="100%" height="auto" controls>\
                            <source src="'+ link.attr('href') +'" type="video/mp4">\
                        </video>';

                default:
                    return '';
            }
        }

        $("#inetisPicasaImageModal").on("show.bs.modal", function(e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-body").html(getModalBody(link));
        });
    });
</script>
